/********ABOUTME********/

#about{
    margin: 2%;
    padding: 2%;
    width: 1100;
    border-radius: 25px;
    background-color: #383942;
    font-size: 22px;
    color: white;
    display: flex;
    justify-content: space-between;
}

#about2{
    margin: 2%;
    padding: 2%;
    width: 1100;
    border-radius: 25px;
    background-color: #383942;
    font-size: 22px;
    color: white;
    display: flex;
    justify-content: space-between;
}

#about3{
    margin: 2%;
    padding: 2%;
    width: 1100;
    border-radius: 25px;
    background-color: #383942;
    font-size: 22px;
    color: white;
    display: flex;
    justify-content: space-between;
}

#picabt{
    width: 25rem;
    border-radius: 0px 70px 0px 70px;
    padding-right: 2%;
}

#picabt2{
    width: 25rem;
    border-radius: 0px 70px 0px 70px;
    padding-left: 2%;
}

#picabt-banner{display: none;}

/*MOBILE*/
@media (max-width: 1279px){

    #picabt{display: none} #picabt2{display: none}
    
    #picabt-banner{
        display: block;
        width: 100%;
        border-radius: 25px 25px 0px 0px;
    }

    #about{
        align-items: center;
        margin: 2%;
        margin-top: 15%;
        padding: 2%;
        border-radius: 25px;
        background-color: #383942;
        font-size: 22px;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    #about2{
        margin: 2%;
        padding: 2%;
        border-radius: 25px;
        background-color: #383942;
        font-size: 22px;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    #about3{
        margin: 2%;
        padding: 2%;
        border-radius: 25px;
        background-color: #383942;
        font-size: 22px;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }



}