html {
    background-color: #23242E;
}
body{
    font-family: 'Raleway', sans-serif;
    color: #303030;

}

/*NAVBAR*/

header{
    display: flex;
    justify-content: space-between;
    height: 5%;
    box-shadow: 0px px #41C7A5;
}

#selected{
    border-radius: 20px;
    border-color: #00000000;
    background-color:#383942;
}

#nav-select{
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
    text-decoration:none;
    color: #41C7A5;
}

.nav-a {
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
    text-decoration:none;
    color: #383942;
    transition-duration: 0.3s;
}

.nav-a:hover {
    color: #41C7A5;
}

.nav-btn {
    padding-bottom: 10px;
    border-radius: 20px;
    border-color: #00000000;
    background-color: #83838300;
}

#main-nav{
    padding-top: 1.5%;
    background-color: #00000000;
}

#nav-img{
    width: 15%;
}
/*HOMEPAGE*/

#homesections{
    background-color: #383942;
    border-radius: 10px;
    padding: 2%;
    width: 1100px;
    height: 470px;
    margin: 30px auto;
}

#home{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

#portrait{
    width: 32%;
    height: 32%;
    border-radius: 250px 10px 250px 250px;
    box-shadow: 2px 2px 15px #41C7A5;
    animation: fade 3s;
}

.hometext{
    padding: 2px;

}

#home h1{ 
    font-size: 75px; 
    color:#41C7A5;
    animation: slide-up 1.5s;
}

#home p{
    font-size: 25px; 
    color: white;
}

@keyframes slide-up{
    0%{transform: translateY(40px); opacity: 0%;}
    100%{transform: translateY(0px); opacity: 100%;}
}

@keyframes fade {
    0%{opacity: 0%;}
    100%{opacity: 100%;}
    
}

.homebtn{
    display: flex;
    justify-content: space-around;
    height: 200px;
    padding-top: 50px;
}

.homebtn button{
    height: 70px;
    border-radius: 20px;
    border: solid #23242E;
    background-color: #383942;
    transition-duration: 0.4s;

}

.homebtn button:hover{
    height: 70px;
    border-radius: 20px;
    border: solid #383942;
    background-color: #41C7A5;
}

.btn-a{
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
    text-decoration:none;
    color: #303030;
    transition-duration: 0.3s;
}

/********ABOUTME********/

#about{
    margin: 2%;
    padding: 2%;
    width: 1100;
    border-radius: 25px;
    background-color: #383942;
    font-size: 22px;
    color: white;
    display: flex;
    justify-content: space-between;
}

#about2{
    margin: 2%;
    padding: 2%;
    width: 1100;
    border-radius: 25px;
    background-color: #383942;
    font-size: 22px;
    color: white;
    display: flex;
    justify-content: space-between;
}

#about3{
    margin: 2%;
    padding: 2%;
    width: 1100;
    border-radius: 25px;
    background-color: #383942;
    font-size: 22px;
    color: white;
    display: flex;
    justify-content: space-between;
}

#portraitabt{
    width: 22%;
    border-radius: 0px 70px 0px 70px;
    padding-right: 2%;
}

#portraitabt2{
    width: 22%;
    border-radius: 0px 70px 0px 70px;
    padding-left: 2%;
}

@media (max-width: 600px){

    header{
        display: block;
        margin: 0 auto;
    }
    #nav-img{
        padding: 25% auto;
        width: 75%;
    }
    #main-nav{
        visibility: hidden;
    }

    .nav-a{
        font-size: 1px;
    }

    #homesections{
        padding: 1% 2%;
        width: 80%;
        height: 100%;
    }
    #home{
        flex-direction: column-reverse;
    }
    #portrait{
        margin: 5% 15%;
        width: 70%;
        height: 70%;
        border-radius: 250px 10px 250px 250px;
        box-shadow: 2px 2px 15px #41C7A5;
        animation: fade 3s;
    }
    
}